- content_for :page_title do
  = t('settings.preferences')

- content_for :heading_actions do
  = button_tag t('generic.save_changes'), class: 'button', form: 'edit_preferences'

= simple_form_for current_user, url: settings_preferences_other_path, html: { method: :put, id: 'edit_preferences' } do |f|
  = render 'shared/error_messages', object: current_user

  .fields-group
    = f.input :setting_noindex, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_hide_network, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_aggregate_reblogs, as: :boolean, wrapper: :with_label, recommended: true

  %h4= t 'preferences.posting_defaults'

  .fields-row
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :setting_default_privacy, collection: Status.selectable_visibilities, wrapper: :with_label, include_blank: false, label_method: lambda { |visibility| safe_join([I18n.t("statuses.visibilities.#{visibility}"), I18n.t("statuses.visibilities.#{visibility}_long")], ' - ') }, required: false, hint: false

    .fields-group.fields-row__column.fields-row__column-6
      = f.input :setting_default_language, collection: [nil] + filterable_languages.sort, wrapper: :with_label, label_method: lambda { |locale| locale.nil? ? I18n.t('statuses.language_detection') : human_locale(locale) }, required: false, include_blank: false, hint: false

  .fields-row
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :setting_default_content_type, collection: Status.selectable_content_types, wrapper: :with_label, include_blank: false, label_method: lambda { |content_type| I18n.t("statuses.content_types.#{content_type}") }, required: false, hint: false

  .fields-group
    = f.input :setting_default_sensitive, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_default_federation, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_application, as: :boolean, wrapper: :with_label, recommended: true

  %h4= t 'preferences.qoto_features'

  .fields-group
    = f.input :setting_show_follow_button_on_timeline, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_subscribe_button_on_timeline, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_followed_by, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_follow_button_to_list_adder, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_navigation_panel, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_quote_button, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_show_bookmark_button, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_strip_formatting, collection: ['none', 'blocks', 'all'], wrapper: :with_floating_label, include_blank: false, label_method: lambda { |value| safe_join([I18n.t("statuses.strip_formatting.#{value}"), content_tag(:span, I18n.t("statuses.strip_formatting.#{value}_long"), class: 'hint')]) }, required: false, as: :radio_buttons, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li', hint: false

  -# .fields-group
  -#   = f.input :setting_show_target, as: :boolean, wrapper: :with_label

  %h4= t 'preferences.public_timelines'

  .fields-group
    = f.input :chosen_languages, collection: filterable_languages.sort, wrapper: :with_block_label, include_blank: false, label_method: lambda { |locale| human_locale(locale) }, required: false, as: :check_boxes, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
