.detailed-status.detailed-status--flex{ class: "detailed-status-#{status.visibility}" }
  .p-author.h-card
    = link_to ActivityPub::TagManager.instance.url_for(status.account), class: 'detailed-status__display-name u-url', target: stream_link_target, rel: 'noopener' do
      .detailed-status__display-avatar
        - if current_account&.user&.setting_auto_play_gif || autoplay
          = image_tag status.account.avatar_original_url, alt: '', class: 'account__avatar u-photo'
        - else
          = image_tag status.account.avatar_static_url, alt: '', class: 'account__avatar u-photo'
      %span.display-name
        %bdi
          %strong.display-name__html.p-name.emojify= display_name(status.account, custom_emojify: true, autoplay: autoplay)
        %span.display-name__account
          = acct(status.account)
          = fa_icon('lock') if status.account.locked?

  = account_action_button(status.account)

  .status__content.emojify{ :data => ({ spoiler: current_account&.user&.setting_expand_spoilers ? 'expanded' : 'folded' } if status.spoiler_text?), class: text_formatting_classes }<
    - if status.spoiler_text?
      %p<
        %span.p-summary> #{Formatter.instance.format_spoiler(status, autoplay: autoplay)}&nbsp;
        %button.status__content__spoiler-link= t('statuses.show_more')
    .e-content{ dir: rtl_status?(status) ? 'rtl' : 'ltr' }
      = Formatter.instance.format(status, custom_emojify: true, autoplay: autoplay)
      - if status.preloadable_poll
        = react_component :poll, disabled: true, poll: ActiveModelSerializers::SerializableResource.new(status.preloadable_poll, serializer: REST::PollSerializer, scope: current_user, scope_name: :current_user).as_json do
          = render partial: 'statuses/poll', locals: { status: status, poll: status.preloadable_poll, autoplay: autoplay }

  - if status.quote?
    = render partial: "quote_status", locals: {status: status.quote}

  - if !status.media_attachments.empty?
    - if status.media_attachments.first.video?
      - video = status.media_attachments.first
      = react_component :video, src: full_asset_url(video.file.url(:original)), preview: full_asset_url(video.thumbnail.present? ? video.thumbnail.url : video.file.url(:small)), blurhash: video.blurhash, sensitive: sensitized?(status, current_account), width: 670, height: 380, detailed: true, inline: true, alt: video.description do
        = render partial: 'statuses/attachment_list', locals: { attachments: status.media_attachments }
    - elsif status.media_attachments.first.audio?
      - audio = status.media_attachments.first
      = react_component :audio, src: full_asset_url(audio.file.url(:original)), poster: full_asset_url(audio.thumbnail.present? ? audio.thumbnail.url : status.account.avatar_static_url), backgroundColor: audio.file.meta.dig('colors', 'background'), foregroundColor: audio.file.meta.dig('colors', 'foreground'), accentColor: audio.file.meta.dig('colors', 'accent'), width: 670, height: 380, alt: audio.description, duration: audio.file.meta.dig('original', 'duration') do
        = render partial: 'statuses/attachment_list', locals: { attachments: status.media_attachments }
    - else
      = react_component :media_gallery, height: 380, sensitive: sensitized?(status, current_account), standalone: true, autoplay: autoplay, media: status.media_attachments.map { |a| ActiveModelSerializers::SerializableResource.new(a, serializer: REST::MediaAttachmentSerializer).as_json } do
        = render partial: 'statuses/attachment_list', locals: { attachments: status.media_attachments }
  - elsif status.preview_card
    = react_component :card, sensitive: sensitized?(status, current_account), 'maxDescription': 65535, card: ActiveModelSerializers::SerializableResource.new(status.preview_card, serializer: REST::PreviewCardSerializer).as_json

  .detailed-status__meta
    %data.dt-published{ value: status.created_at.to_time.iso8601 }

    = link_to ActivityPub::TagManager.instance.url_for(status), class: 'detailed-status__datetime u-url u-uid', target: stream_link_target, rel: 'noopener noreferrer' do
      %time.formatted{ datetime: status.created_at.iso8601, title: l(status.created_at) }= l(status.created_at)
    ·
    %span.detailed-status__visibility-icon
      = visibility_icon status
    ·
    - if status.application && @account.user&.setting_show_application
      - if status.application.website.blank?
        %strong.detailed-status__application= status.application.name
      - else
        = link_to status.application.name, status.application.website, class: 'detailed-status__application', target: '_blank', rel: 'noopener noreferrer'
      ·
    = link_to remote_interaction_path(status, type: :reply), class: 'modal-button detailed-status__link' do
      - if status.in_reply_to_id.nil?
        = fa_icon('reply')
      - else
        = fa_icon('reply-all')
      %span.detailed-status__reblogs>= number_to_human status.replies_count, strip_insignificant_zeros: true
      = " "
    ·
    - if status.public_visibility? || status.unlisted_visibility?
      = link_to remote_interaction_path(status, type: :reblog), class: 'modal-button detailed-status__link' do
        = fa_icon('retweet')
        %span.detailed-status__reblogs>= number_to_human status.reblogs_count, strip_insignificant_zeros: true
        = " "
      ·
    = link_to remote_interaction_path(status, type: :favourite), class: 'modal-button detailed-status__link' do
      = fa_icon('star')
      %span.detailed-status__favorites>= number_to_human status.favourites_count, strip_insignificant_zeros: true
      = " "

    - if status.local_only
      ·
      %span.detailed-status__link.modal-button.disabled<
        = fa_icon 'chain-broken fw', 'title': t('statuses.local_only')
    - if user_signed_in?
      ·
      = link_to t('statuses.open_in_web'), web_url("statuses/#{status.id}"), class: 'detailed-status__application', target: '_blank'
