@import 'material-light';

.roles {
    background-color: unset!important;
}

.new_user a {
    text-decoration: underline!important;
}

.account__wrapper,
.detailed-status__meta {
    background-color: unset!important;
}

.status__expand {
    background-color: unset!important;
}

.status__action-bar__counter {
    background-color: unset!important;
}

.drawer__inner {
    background-color: #ffffff!important;
}

.columns-area {
    background-color: #f0f0f0!important;
}

.column-header {
    background-color: #ffffff!important;
}

.column-header__button {
    background-color: #ffffff!important;
}

.column-header__back-button {
    background-color: #ffffff!important;
}

.search__input {
    background-color: #ffffff!important;
}

.drawer__tab {
    background-color: unset!important;
}

.poll__input.active {
    border-color: #3c754d!important;
    background: #3c754d!important;
}

.account__header__tabs, .account__header__tabs__name, .account__header__tabs__buttons, .account__header__bio, .account__header__fields, .account__header__extra__links {
    background-color: #ffffff!important;
}

.account__section-headline {
    background-color: #e6ebf0!important;
}

.account__header__content {
  text-align: center;
}

.column {
  width: 360px;
}

.drawer {
  width: 360px;
}
