!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_pack_tag Setting.default_settings['theme'], media: 'all'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = javascript_pack_tag "locale_#{I18n.locale}", integrity: true, crossorigin: 'anonymous'
    = render_initial_state
    = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
    %script{:src => "/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}
  %body.embed
    = yield

    .logo-resources
      = render file: Rails.root.join('app', 'javascript', 'images', 'logo_transparent.svg')
